nextflow.enable.dsl=2

params {
    input = null
    outdir = 'results'
    backend = 'native'
    repseq_qza = null
    taxonomy_qza = null
    reference_reads = null
    reference_taxonomy = null
    blast_db = null
    taxdump_dir = null
    blast_taxonomy_sif = '/data/software/singularity/qiime_blast/blast_taxonomy_2026-06.sif'
    qiime_sif = '/data/software/singularity/qiime2_amplicon_2025.7.sif'
    blast_retrieval_n = 20
    blast_top_n = 5
    blast_max_evalue = 1e-10
    blast_min_pident = 99.0
    blast_min_qcovus = 80.0
    blast_reconcile_mode = 'species_missing_rescue'
    blast_species_min_pident = 99.0
    blast_species_min_qcovus = 99.0
    blast_species_max_evalue = 1e-10
    blast_min_qiime_confidence = 0.7
    taxonomy_profile = 'silva'
}

process {
    withLabel: qiime_export { cpus = 1; memory = '4 GB' }
    withLabel: blast_taxonomy { cpus = 8; memory = '32 GB' }
    withLabel: qiime_blast { cpus = 8; memory = '32 GB' }
}

singularity { enabled = true; autoMounts = true }
